.card {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  perspective: 1000px;
  cursor: pointer;
  /* min-width: 0px;
  max-height: 100%; */
  width: 100px;
  border-radius: 8px;
  aspect-ratio: 46 / 81;
  background-color: transparent;
  border-radius: 20px;
  /* initial state */
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.5s ease-out var(--deal-delay),
              opacity 0.4s ease-out var(--deal-delay);
}

/* final state after dealing */
.card.isDealt {
  opacity: 1;
  transform: translateY(0);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  will-change: transform;
}

.card.isFlipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card img {
  width: 100%;
  image-rendering: pixelated;
  filter: drop-shadow(0 1px 5px black);
}

.success-glow {
  animation: success-glow 0.7s ease-in-out;
}

.fail-glow {
  animation: fail-glow 0.7s ease-in-out;
}

@keyframes success-glow {
  0% {
    filter: drop-shadow(0 0 4px rgba(0, 255, 0, 0.00));
  }

  50% {
    filter: drop-shadow(0 0 4px rgba(0, 255, 0, 0.80));
  }

  100% {
    filter: drop-shadow(0 0 4px rgba(0, 255, 0, 0.00));
  }
}

@keyframes fail-glow {
  0% {
    filter: drop-shadow(0 0 4px rgba(0, 255, 0, 0.00));
  }

  50% {
    filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.8));
  }

  100% {
    filter: drop-shadow(0 0 4px rgba(0, 255, 0, 0.00));
  }
}