.main-menu {
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: whitesmoke;
  gap: 1rem;
}

.main-title {
  font-size: 5rem;
}

.instructions {

}

.under-txt {
  text-decoration: underline;
}

.game-modes {
  display: flex;
  gap: 1rem;
}

.card-container {
  width: 10%;
  height: auto;
  padding: 0.2rem;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(black, black) padding-box,
    conic-gradient(from var(--angle, 0),
      transparent,
      white 10%,
      transparent 30%,
      white 50%
      ) border-box;
  animation: spin-gradient 10s linear infinite;
}

.card-sample {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.mode-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.menu-time {
  font-size: 1rem;
}

.easy-mode,
.medium-mode,
.hard-mode {
  position: relative;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #000000;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.selected {
  background: linear-gradient(black, black) padding-box,
    conic-gradient(
    from var(--angle, 0), 
    transparent, 
    white 10%, 
    transparent 20%
    ) border-box;
  animation: spin-gradient 3s linear infinite;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin-gradient {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
