.battle-screen {
  position: relative;
  width: 100svw;
  height: 100svh;
  background-color: rgb(162, 243, 223);
}

.card-area-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40%;
  padding: 1.5rem;
  gap: 1rem;
}